* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
  overflow-x: hidden;
}
#page1{
  height:100%;
  width: 100%;
  background-color: black;
}
#page2{
  height:100%;
  width: 100%;
  background-color: lightblue;
  padding: 5vh 0;
}
#page3{
  height:100%;
  width: 100%;
  background-color: black;
}
#page2 h1{
  font-size: 40vw;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 600;
}
/* #box{
  height: 300px;
  width: 300px;
  background-color: red;
}
h1{
  font-size: 60px;
  position: relative;
  background-color: red;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h2{
  font-size: 60px;
  padding: 10px;
  position: relative;
  background-color: yellow;
}  */

